<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<dict>
		<key>alda</key>
		<dict>
			<key>name</key>
			<string>Alda Keyflower</string>
			<key>image</key>
			<string>images/character/base/alda.png</string>
			<key>class</key>
			<string>thief</string>
			<key>initialSkill</key>
			<dict>
				<key>cost</key>
				<string>any dice</string>
				<key>effect</key>
				<string>heal</string>
			</dict>
		</dict>
		<key>algus</key>
		<dict>
			<key>name</key>
			<string>Algus Seasons</string>
			<key>image</key>
			<string>images/character/base/algus.png</string>
			<key>class</key>
			<string>wizard</string>
			<key>initialSkill</key>
			<dict>
				<key>cost</key>
				<string>any dice</string>
				<key>effect</key>
				<string>heal</string>
			</dict>
		</dict>
		<key>katan</key>
		<dict>
			<key>name</key>
			<string>Katan, o Bravo</string>
			<key>image</key>
			<string>images/character/base/katan.png</string>
			<key>class</key>
			<string>warrior</string>
			<key>initialSkill</key>
			<dict>
				<key>cost</key>
				<string>any dice</string>
				<key>effect</key>
				<string>shield</string>
			</dict>
		</dict>
		<key>rufus</key>
		<dict>
			<key>name</key>
			<string>Rufus Belfort</string>
			<key>image</key>
			<string>images/character/base/rufus.png</string>
			<key>class</key>
			<string>cleric</string>
			<key>initialSkill</key>
			<dict>
				<key>cost</key>
				<string>any dice</string>
				<key>effect</key>
				<string>heal</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
