<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>floor_1</key>
	<dict>
		<key>2 players</key>
		<array>
			<dict>
				<key>type</key>
				<string>portal</string>
				<key>cost</key>
				<array>
					<string>spell</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>treasure</string>
				<key>cost</key>
				<array>
					<string>shield</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>stairs_down</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>monster_1</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>treasure</string>
				<key>cost</key>
				<array>
					<string>sword</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>trap</string>
				<key>cost</key>
				<array>
					<string>sword</string>
					<string>bow</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>rune</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>monster_1</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>trap</string>
				<key>cost</key>
				<array>
					<string>boot</string>
					<string>heal</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>monster_1</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>rune</string>
				<key>cost</key>
				<array/>
			</dict>
		</array>
		<key>3 players</key>
		<array>
			<dict>
				<key>type</key>
				<string>treasure</string>
				<key>cost</key>
				<array>
					<string>spell</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>monster_1</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>trap</string>
				<key>cost</key>
				<array>
					<string>shield</string>
					<string>bow</string>
				</array>
			</dict>
		</array>
		<key>4 players</key>
		<array>
			<dict>
				<key>type</key>
				<string>trap</string>
				<key>cost</key>
				<array>
					<string>sword</string>
					<string>heal</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>portal</string>
				<key>cost</key>
				<array>
					<string>spell</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>monster_1</string>
				<key>cost</key>
				<array/>
			</dict>
		</array>
		<key>5 players</key>
		<array>
			<dict>
				<key>type</key>
				<string>monster_1</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>treasure</string>
				<key>cost</key>
				<array>
					<string>shield</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>portal</string>
				<key>cost</key>
				<array>
					<string>spell</string>
				</array>
			</dict>
		</array>
		<key>expansion</key>
		<array>
			<dict>
				<key>type</key>
				<string>poison_gas</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>spider_web</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>treasure_2</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>curse_1</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>youth_fountain</string>
				<key>cost</key>
				<array>
					<string>shield</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>curse_2</string>
				<key>cost</key>
				<array/>
			</dict>
		</array>
	</dict>
	<key>floor_2</key>
	<dict>
		<key>2 players</key>
		<array>
			<dict>
				<key>type</key>
				<string>monster_2</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>rune</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>trap</string>
				<key>cost</key>
				<array>
					<string>spell</string>
					<string>heal</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>monster_2</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>treasure</string>
				<key>cost</key>
				<array>
					<string>shield</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>treasure</string>
				<key>cost</key>
				<array>
					<string>spell</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>trap</string>
				<key>cost</key>
				<array>
					<string>shield</string>
					<string>heal</string>
				</array>
			</dict>
		</array>
		<key>3 players</key>
		<array>
			<dict>
				<key>type</key>
				<string>monster_1</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>trap</string>
				<key>cost</key>
				<array>
					<string>sword</string>
					<string>bow</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>treasure</string>
				<key>cost</key>
				<array>
					<string>heal</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>monster_2</string>
				<key>cost</key>
				<array/>
			</dict>
		</array>
		<key>4 players</key>
		<array>
			<dict>
				<key>type</key>
				<string>rune</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>monster_2</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>treasure</string>
				<key>cost</key>
				<array>
					<string>sword</string>
				</array>
			</dict>
		</array>
		<key>5 players</key>
		<array>
			<dict>
				<key>type</key>
				<string>trap</string>
				<key>cost</key>
				<array>
					<string>spell</string>
					<string>heal</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>treasure</string>
				<key>cost</key>
				<array>
					<string>sword</string>
				</array>
			</dict>
		</array>
		<key>expansion</key>
		<array>
			<dict>
				<key>type</key>
				<string>stairs_down</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>pit</string>
				<key>cost</key>
				<array/>
			</dict>
			<dict>
				<key>type</key>
				<string>monster_1_2</string>
				<key>cost</key>
				<array/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
