<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initial</key>
	<dict>
		<key>image</key>
		<string>room_initial.png</string>
		<key>description</key>
		<string>initial room</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict/>
	</dict>
	<key>rune</key>
	<dict>
		<key>image</key>
		<string>room_rune.png</string>
		<key>description</key>
		<string>rune room</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict/>
	</dict>
	<key>trap</key>
	<dict>
		<key>image</key>
		<string>room_trap.png</string>
		<key>description</key>
		<string>trap room</string>
		<key>explorable</key>
		<false/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>damage_adjacent</string>
			<key>kind</key>
			<string>pre_action</string>
			<key>description</key>
			<string>damage adjacent tiles</string>
		</dict>
	</dict>
	<key>portal</key>
	<dict>
		<key>image</key>
		<string>room_portal.png</string>
		<key>description</key>
		<string>portal room</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>teleport</string>
			<key>kind</key>
			<string>optional</string>
			<key>description</key>
			<string>teleport to any revealed tile</string>
		</dict>
	</dict>
	<key>monster_1</key>
	<dict>
		<key>image</key>
		<string>room_monster_1.png</string>
		<key>description</key>
		<string>monster lvl 1 room</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>monster_lvl1</string>
			<key>kind</key>
			<string>pre_action</string>
			<key>description</key>
			<string>summon a lvl 1 monster</string>
		</dict>
	</dict>
	<key>monster_2</key>
	<dict>
		<key>image</key>
		<string>room_monster_2.png</string>
		<key>description</key>
		<string>monster lvl 2 room</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>monster_lvl2</string>
			<key>kind</key>
			<string>pre_action</string>
			<key>description</key>
			<string>summon a lvl 2 monster</string>
		</dict>
	</dict>
	<key>monster_1_2</key>
	<dict>
		<key>image</key>
		<string>room_monster_1_2.png</string>
		<key>description</key>
		<string>monster lvl 1 and lvl 2 room</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>monster_lvl1_lvl2</string>
			<key>kind</key>
			<string>pre_action</string>
			<key>description</key>
			<string>summon a lvl 1 and a lvl 2 monster</string>
		</dict>
	</dict>
	<key>treasure</key>
	<dict>
		<key>image</key>
		<string>room_treasure.png</string>
		<key>description</key>
		<string>treasure room</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>treasure_1_coin</string>
			<key>kind</key>
			<string>optional</string>
			<key>description</key>
			<string>a coin for a dice</string>
		</dict>
	</dict>
	<key>treasure_2</key>
	<dict>
		<key>image</key>
		<string>room_treasure_2.png</string>
		<key>description</key>
		<string>treasure room with 2 coins</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>treasure_2_coin</string>
			<key>kind</key>
			<string>optional</string>
			<key>description</key>
			<string>two coins</string>
		</dict>
	</dict>
	<key>stairs_down</key>
	<dict>
		<key>image</key>
		<string>room_stairs_down.png</string>
		<key>description</key>
		<string>down stairs</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>down_floor</string>
			<key>kind</key>
			<string>optional</string>
			<key>description</key>
			<string>go one floor down on the dungeon</string>
		</dict>
	</dict>
	<key>stairs_up</key>
	<dict>
		<key>image</key>
		<string>room_stairs_up.png</string>
		<key>description</key>
		<string>up stairs</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>up_floor</string>
			<key>kind</key>
			<string>optional</string>
			<key>description</key>
			<string>go one floor up on the dungeon</string>
		</dict>
	</dict>
	<key>spider_web</key>
	<dict>
		<key>image</key>
		<string>spider_web.png</string>
		<key>description</key>
		<string>spider web</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>spider_web</string>
			<key>kind</key>
			<string>pre_action</string>
			<key>description</key>
			<string>steal a boot</string>
		</dict>
	</dict>
	<key>poison_gas</key>
	<dict>
		<key>image</key>
		<string>poison_gas.png</string>
		<key>description</key>
		<string>poison gas</string>
		<key>explorable</key>
		<false/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>take_1_damage</string>
			<key>kind</key>
			<string>pre_action</string>
			<key>description</key>
			<string>take a damage, discard that room</string>
		</dict>
	</dict>
	<key>curse</key>
	<dict>
		<key>image</key>
		<string>curse_1.png</string>
		<key>description</key>
		<string>curse</string>
		<key>explorable</key>
		<false/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>take_1_damage</string>
			<key>kind</key>
			<string>pre_action</string>
			<key>description</key>
			<string>take a damage, discard that room</string>
		</dict>
	</dict>
	<key>curse_2</key>
	<dict>
		<key>image</key>
		<string>curse_2.png</string>
		<key>description</key>
		<string>curse</string>
		<key>explorable</key>
		<false/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>dicard_1_card</string>
			<key>kind</key>
			<string>pre_action</string>
			<key>description</key>
			<string>discard one card</string>
		</dict>
	</dict>
	<key>youth_fountain</key>
	<dict>
		<key>image</key>
		<string>youth_fountain.png</string>
		<key>description</key>
		<string>youth fontain</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>heal_2</string>
			<key>kind</key>
			<string>optional</string>
			<key>description</key>
			<string>heal 2 damage</string>
		</dict>
	</dict>
	<key>pit</key>
	<dict>
		<key>image</key>
		<string>pit.png</string>
		<key>description</key>
		<string>pit</string>
		<key>explorable</key>
		<true/>
		<key>effect</key>
		<dict>
			<key>type</key>
			<string>custom_pit</string>
			<key>kind</key>
			<string>pre_action</string>
			<key>description</key>
			<string>custom pit</string>
		</dict>
	</dict>
</dict>
</plist>
