<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>dice/action/sword.png</string>
		<key>kind</key>
		<string>sword</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/action/shield.png</string>
		<key>kind</key>
		<string>shield</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/action/spell.png</string>
		<key>kind</key>
		<string>spell</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/action/bow.png</string>
		<key>kind</key>
		<string>bow</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/action/heal.png</string>
		<key>kind</key>
		<string>heal</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/action/boot.png</string>
		<key>kind</key>
		<string>boot</string>
	</dict>
</array>
</plist>
