<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>dice/monster/ogro.png</string>
		<key>name</key>
		<string>Ogro</string>
		<key>kind</key>
		<string>humanoid</string>
		<key>attack</key>
		<integer>3</integer>
		<key>defense</key>
		<integer>3</integer>
		<key>xp</key>
		<integer>3</integer>
		<key>specials</key>
		<array/>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/morcego_gigante.png</string>
		<key>name</key>
		<string>Morcego Gigante</string>
		<key>kind</key>
		<string>animal</string>
		<key>attack</key>
		<integer>2</integer>
		<key>defense</key>
		<integer>3</integer>
		<key>xp</key>
		<integer>3</integer>
		<key>specials</key>
		<array>
			<string>quick_attack</string>
			<string>steal_bow</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/cubo_gelatinoso.png</string>
		<key>name</key>
		<string>Cubo Gelatinoso</string>
		<key>kind</key>
		<string>slime</string>
		<key>attack</key>
		<integer>3</integer>
		<key>defense</key>
		<integer>3</integer>
		<key>xp</key>
		<integer>3</integer>
		<key>specials</key>
		<array>
			<string>damage_only_spell</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/aparicao.png</string>
		<key>name</key>
		<string>Aparição</string>
		<key>kind</key>
		<string>undead</string>
		<key>attack</key>
		<integer>3</integer>
		<key>defense</key>
		<integer>3</integer>
		<key>xp</key>
		<integer>3</integer>
		<key>specials</key>
		<array>
			<string>-1_xp_unless_only_heal</string>
			<string>immune_bow</string>
			<string>walk_through_walls</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/observador_sombrio.png</string>
		<key>name</key>
		<string>Observador Sombrio</string>
		<key>kind</key>
		<string>aberration</string>
		<key>attack</key>
		<integer>4</integer>
		<key>defense</key>
		<integer>3</integer>
		<key>xp</key>
		<integer>4</integer>
		<key>specials</key>
		<array>
			<string>no_skill_allowed</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/dragao_jovem.png</string>
		<key>name</key>
		<string>Dragão Jovem</string>
		<key>kind</key>
		<string>dragon</string>
		<key>attack</key>
		<integer>4</integer>
		<key>defense</key>
		<integer>4</integer>
		<key>xp</key>
		<integer>4</integer>
		<key>specials</key>
		<array>
			<string>ignores_first_bow</string>
		</array>
	</dict>
</array>
</plist>
