<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>dice/monster/goblin.png</string>
		<key>name</key>
		<string>Goblin</string>
		<key>kind</key>
		<string>humanoid</string>
		<key>attack</key>
		<integer>1</integer>
		<key>defense</key>
		<integer>2</integer>
		<key>xp</key>
		<integer>2</integer>
		<key>specials</key>
		<array>
			<string>quick_attack</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/cultista.png</string>
		<key>name</key>
		<string>Cultista</string>
		<key>kind</key>
		<string>humanoid</string>
		<key>attack</key>
		<integer>2</integer>
		<key>defense</key>
		<integer>2</integer>
		<key>xp</key>
		<integer>2</integer>
		<key>specials</key>
		<array>
			<string>steal_heal</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/esqueleto.png</string>
		<key>name</key>
		<string>Esqueleto</string>
		<key>kind</key>
		<string>undead</string>
		<key>attack</key>
		<integer>2</integer>
		<key>defense</key>
		<integer>2</integer>
		<key>xp</key>
		<integer>2</integer>
		<key>specials</key>
		<array>
			<string>immune_bow</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/orc.png</string>
		<key>name</key>
		<string>Orc</string>
		<key>kind</key>
		<string>humanoid</string>
		<key>attack</key>
		<integer>3</integer>
		<key>defense</key>
		<integer>2</integer>
		<key>xp</key>
		<integer>2</integer>
		<key>specials</key>
		<array/>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/aranha.png</string>
		<key>name</key>
		<string>Aranha</string>
		<key>kind</key>
		<string>animal</string>
		<key>attack</key>
		<integer>2</integer>
		<key>defense</key>
		<integer>4</integer>
		<key>xp</key>
		<integer>3</integer>
		<key>specials</key>
		<array>
			<string>paralyze</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>dice/monster/carnical.png</string>
		<key>name</key>
		<string>Carniçal</string>
		<key>kind</key>
		<string>undead</string>
		<key>attack</key>
		<integer>3</integer>
		<key>defense</key>
		<integer>3</integer>
		<key>xp</key>
		<integer>3</integer>
		<key>specials</key>
		<array>
			<string>steal_boot</string>
		</array>
	</dict>
</array>
</plist>
